name: Java CI with Gradle

on:
 push:
   branches: [ "main" ]
 pull_request:
   branches: [ "main" ]
#  schedule:
#    - cron: '* * * * *'

jobs:
 build:
   runs-on: self-hosted

   steps:
   - uses: actions/checkout@v4

   - name: Build with Gradle Wrapper
     run: |
       gradle clean test
